@value sideBarWidth: 450px;
@value contentHeight: 600px;
@value genresHeight: 40px;

.flexContainer {
  display: flex;
  position: fixed;
  top: 80px;
  width: 100%;
}

.sideBar {
  height: contentHeight;
  overflow: auto;
  width: sideBarWidth;
}

.main {
  height: contentHeight;
  position: relative;
  width: calc(100% - sideBarWidth);
}

.map {
  height: calc(100% - genresHeight);
  width: 100%;
}

.genres {
  height: genresHeight;
  width: 100%;
  position: relative;
}
